.anim-container {
    border: 2px solid black;
    width: fit-content;
    margin: 100px auto 400px auto; 
    padding: 1.5rem;
    border-radius: 1.5rem;
    text-align: center; 
}

.anim-field {
    border: 2px solid black;
    border-radius: 1.5rem;
    margin: 0 auto;     
    position: relative;   
    overflow: hidden;     
    background-position: center;
    background-size: cover; 
}

.anim-ball {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute; 
    top: 0;
    left: 0;
    z-index: 10;
}

.anim-control {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}
