
* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
}


.student {
    text-align: center;
}


.cal-container {
    margin: 1rem auto;
    width: fit-content;
    border: 3px solid black;
    padding: 0.9rem;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 200px;
}


.cal-screen {
    border: 2px solid gray;
    background-color: azure;
    text-align: right;
    padding: 0.5rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.cal-btn {
    width: 2.5rem;
    height: 2.5rem;
    margin: 0.2rem 0.1rem;
    border-radius: 10px;
    border: 1px solid gray;
}


.cal-btn-blue { background-color: lightgreen; }
.cal-btn-green { background-color: lightblue; }
.cal-btn-red { background-color: rgb(255, 0, 0); }
.cal-btn-orange { background-color: orange; }
